 /* ***************************************************NAVBAR SECTION**************************************************  */


 .navbar ul li :hover {
    background-color: #2a8d5f;;
    border-radius: 3px;
    padding: 2px;
  }

 /* ***************************************************CONTACT SECTION**************************************************  */








 /* **************************************************FOOTER SECTION**************************************************  */

.Footer li :hover {
    background-color: #85d18f;
    border-radius: 3px;
    padding: 2px;
  }